{{#each this}}
<li class="result-elm">
    <h2>{{name}}</h2>

    <div class="result-box">
        <div>
            <p>
                <span class="text"> Capital:</span>
                {{capital}}
            </p>
            <p>
                <span class="text"> Population:</span>
                {{population}}
            </p>

            <ul class="languages-list">
                <span class="text"> Languages:</span>
                {{#each languages}}
                <li class="languages-elm">{{name}}</li>
                {{/each}}
            </ul>
        </div>

        <div class="flag-box">
            <img src={{flag}} alt={{name}} width="300">
        </div>

</li>
</div>
{{/each}}